body {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  box-sizing: border-box;
  /*body is positioned relatively */
  position: relative;
  min-height: 100vh;
  /* To ensure that content is above the background pseudo-element */
  z-index: 0;
}

body::before {
  content: "";
  /* Change to fixed to cover entire viewport */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* To ensure that the pseudo-element is behind the content */
  z-index: -1;
 
}

body.light-mode::before {
  background-image: url('../public/bg-light.jpg');
  opacity: 0.7;
  /* Set the opacity of the overlay */
}

body.dark-mode::before {
  background-image: url('../public/bg-dark.jpg');
  opacity: 0.18;
  /* Set the opacity of the overlay */
}